<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forget Password | AnyChat</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Chitchat">
    <meta name="keywords" content="Chitchat">
    <meta name="author" content="Chitchat">
    <link rel="icon" href="{{url_for('static', filename='assets/images/favicon/favicon.png')}}" type="image/x-icon">
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/images/favicon/favicon.png')}}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap" rel="stylesheet">
    
    <!-- Fav Icon  -->
	  <link rel="shortcut icon" href="{{url_for('static', filename='assets/images/favicon.png')}}">

    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/vendor.bundle.css')}}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/theme.css')}}">
  </head>
  {% if error %}
  <style>
    #inputEmail3 {
      background-color: #eb070733;
    }
    .errormessage {
      color: #ff0000;
    }
  </style>
  {% endif %}
  
  <body data-spy="scroll" data-target="#mainnav" data-offset="80">
  
    <!-- Banner/Slider -->
    <div class="banner banner-wave user-page d-flex align-items-center">
      <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-10 col-md-8 text-center">
              <div class="user-page-box">
                <div class="user-intro">
                  <h2>Welcome!</h2>
                  <div class="user-sub">Enter your Email</div>
                </div>
                <div class="gaps size-md"></div>

                  {% if error %}<h6 class="errormessage">{{error}}</h6><br><br>{% endif %}

                  <form action="" class="user-form" method="post">
                    <div class="input-field">
                      <!-- <label class="col-form-label" for="inputEmail3">Email Address</label> -->
                      <input name="email" class="form-control input-line email" id="inputEmail3" type="email" placeholder="Email" required>
                    </div>

                    <div class="gaps size-md"></div>
                      
                      <div class="d-flex flex-end">
                        <div class="buttons">
                          <button class="btn btn-primary button-effect" href="#">Submit</button>
                        </div>
                      </div>
                  </form>

                <div class="gaps size-md"></div>
                
              </div>
            </div><!-- .col  -->
          </div><!-- .row  -->
      </div><!-- .container  -->
    </div>
    <!-- End Banner/Slider -->
  
    <!-- Preloader !remove please if you do not want -->
    <div id="preloader">
      <div id="loader"></div>
      <div class="loader-section loader-top"></div>
         <div class="loader-section loader-bottom"></div>
    </div>
    <!-- Preloader End -->

    <script>
      var emailInput = document.getElementById("inputEmail3");
      var emailHeader = document.getElementById("emailHeader");
      var usernameHeader = document.getElementById("usernameHeader");
      emailInput.onkeyup = function(){
          if (emailInput.value.includes('@')) {
            emailHeader.style.fontWeight ='700';
            emailHeader.style.borderBottom ='solid';
            usernameHeader.removeAttribute("style");
            
          } else {
            usernameHeader.style.fontWeight ='700';
            usernameHeader.style.borderBottom ='solid';
            emailHeader.removeAttribute("style");
          }
      }
                          
     </script>
  </body>

  <!-- Preloader End -->

	<!-- JavaScript (include all script here) -->
	<script src="{{url_for('static', filename='assets/js/jquery.bundle.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/script.js')}}"></script>
  
</html>