wheel
eventlet==0.25.1
Flask==1.1.1
Flask-SocketIO==4.2.1
Flask-WTF==0.14.3
greenlet==0.4.15
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
monotonic==1.5
python-engineio==3.11.2
python-socketio==4.4.0
six==1.14.0
asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.1
certifi==2019.11.28
chardet==3.0.4
eventlet==0.25.1
Flask==1.1.1
Flask-SQLAlchemy==2.4.1
gunicorn==19.7.1
googletrans
flask-session
mysqlclient
flask-mysql
Flask-Mail
